@import url(http://fonts.googleapis.com/css?family=Lobster);

.bio{
  width: 60%;
  height: auto;
  margin: 1em auto;
  background-color: #ECCFE0;
  color: #656B60;
  padding:1%;
  text-align: center;
  /*visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;*/
}

.contact{
  text-align: center;
  font-style: bold;
}
h3{
  text-align: center;
}

h3 span{
  font-family: 'Lobster', cursive;
}
