@import url(http://fonts.googleapis.com/css?family=Lobster);

.bio{
  width: 60%;
  height: auto;
  margin: 1em auto;
  background-color: #ECCFE0;
  color: #656B60;
  padding:1%;
  text-align: center;
  box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}

.contact{
  text-align: center;
  font-style: bold;
}

h3{
  text-align: center;
}

h3 span{
  font-family: 'Lobster', cursive;
}

h4{
  text-align: center;
}
.project_one{
  background-color: #F9CB75;
  width: 60%;
  margin:1em auto;
  box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}

a{
  color: #261F12;
       }

.project_oneshot{
  display: inline-block;
  vertical-align: top;
  width:45%;
  margin-left:2em;
  margin-top:8%;

}
.project_oneinfo{
  width:45%;
  color:#656B60;
  display: inline-block;
  vertical-align: top;
  margin-left: 1em;

}

.links{
  width: 60%;
  height: 50%;
  margin:0 auto;
  margin-top: 2em;
  background-color: #E1EB99;
  color: #656B60;
  padding-top: 1em;
  text-align: center;
}

.links li{
  list-style: none;
  margin-top: 0.5em;
}
